{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'pages/css/home.css' %}">
</head>
<body>
    <div id="main-content">
        <div id="first-content">
            <div id="profile">
                <img src="{% static 'pages/images/profile.png' %}" alt="profile picture">
                <p>{{user.email}}</p>
            </div>
            <div>
                <ul>
                    <li>
                        <img src="{% static 'pages/images/home.svg' %}" alt="home">
                        <a href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li>
                        <img src="{% static 'pages/images/statistics.svg' %}" alt="statistics">
                        <a href="">Statistics</a>
                    </li>
                    <li>
                        <img src="{% static 'pages/images/mail.svg' %}" alt="mail">
                        <a href="">Inbox</a>
                    </li>
                    <li>
                        <img src="{% static 'pages/images/pages.svg' %}" alt="page">
                        <a href="">Pages</a>
                    </li>
                    <li>
                        <img src="{% static 'pages/images/media.svg' %}" alt="media">
                        <a href="">Media</a>
                    </li>
                    <li>
                        <img src="{% static 'pages/images/post.svg' %}" alt="post">
                        <a href="">Posts</a>
                    </li>
                    <li>
                        <img src="{% static 'pages/images/plugin.svg' %}" alt="plugin">
                        <a href="">Plugin</a>
                    </li>
                    <li>
                        <img src="{% static 'pages/images/user.svg' %}" alt="user">
                        <a href="">User</a>
                    </li>
                    <li>
                        <img src="{% static 'pages/images/tools.svg' %}" alt="tools">
                        <a href="">Tools</a>
                    </li>
                    <li>
                        <img src="{% static 'pages/images/add.svg' %}" alt="add">
                        <a href="">Add new user</a>
                    </li>
                    <li>
                        <img src="{% static 'pages/images/settings.svg' %}" alt="settings">
                        <a href="">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="second-content">
            <div id="first-part">
                <div id="nav-bar">
                    <h1>SITE TITLE</h1>
                    <nav>
                        <ul id="nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Portfolio</li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </nav>
                </div>
                <div id="page-content1">
                    <img src="{% static 'pages/images/display.png' %}" alt="">
                    <div id="side-content">
                        <h1>CREATE YOUR FIRST PORTFOLIO WEBSITE</h1>
                        <p>Select from over a thousand available templates to suit your needs</p>
                        <p>Edit, Move and Style the text blocks to fit your desired website</p>
                        <a href="#">View site</a>
                    </div>
                </div>
            </div>
            <div id="page-content2">
                <div id="side-content1">
                    <p>Get help</p>
                    <p><img src="{% static 'pages/images/search.svg' %}" alt="search">Search articles</p>
                    <ul>
                        <li>
                            <img src="{% static 'pages/images/article.svg' %}" alt="article">
                            <a href="">Quick-start Guide</a>
                        </li>
                        <li>
                            <img src="{% static 'pages/images/article.svg' %}" alt="article">
                            <a href="">All About Domains</a>
                        </li>
                        <li>
                            <img src="{% static 'pages/images/article.svg' %}" alt="article">
                            <a href="">Do you need a website, blog or website and blog?</a>
                        </li>
                        <li>
                            <img src="{% static 'pages/images/article.svg' %}" alt="article">
                            <a href="">Uploading custom plugins and themes</a>
                        </li>
                        <li>
                            <p>?</p>
                            <a href="">Contact Support</a>
                        </li>
                    </ul>
                </div>
                <div id="side-content2">
                    <p>Quick links</p>
                    <ul>
                        <li>
                            <img src="{% static 'pages/images/bi_laptop.svg' %}" alt="laptop">
                            <a href="">Edit site</a>
                        </li>
                        <li>
                            <img src="{% static 'pages/images/write.svg' %}" alt="">
                            <a href="">Write blog post</a>
                        </li>
                        <li>
                            <img src="{% static 'pages/images/page.svg' %}" alt="">
                            <a href="">Add a page</a>
                        </li>
                        <li>
                            <img src="{% static 'pages/images/iconoir_internet.svg' %}" alt="internet">
                            <a href="">Add a domain</a>
                        </li>
                        <li>
                            <img src="{% static 'pages/images/raphael_plugin.svg' %}" alt="plugin">
                            <a href="">Explore plugins</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="footer-container1">
            <img class="logo-white" src="{% static 'pages/images/logo-white.svg' %}" alt="logo">
            <h1>English (UK)<img src="{% static 'pages/images/polygon.svg' %}" alt="polygon"></h1>
        </div>
        <div id="footer-container"> 
            <div class="footer-container2">
                <h1>Why Portfolia</h1>
                <a href="#">Testimonials</a>
                <a href="#">Why choose us</a>
                <a href="#">Products</a>
                <a href="#">How to create a portfolio</a>
            </div>
            <div class="footer-container3">
                <h1>About Portfolia</h1>
                <a href="#">About us</a>
                <a href="#">Career at Portfolia</a>
                <a href="#">How to use Porfolia</a>
                <a href="#">Terms and conditions</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Partners</a>
                <a href="#">Press</a>
            </div>
            <div class="footer-container4">
                <h1>Resources</h1>
                <a href="#">Portfolia Support</a>
                <a href="#">Portfolia News</a>
                <a href="#">Portfolia Community</a>
                <a href="#">Portfolia on Github</a>
                <a href="#">Portfolia Developers</a>
                <a href="#">Portfolia on youtube</a>
            </div>
        </div>
        
        <div class="footer-container5">
            <h1>Follow us</h1>
            <ul>
                <li>
                    <img class="socials" src="{% static 'pages/images/twitter.svg' %}" alt="">
                    <a href="#">Twitter</a>
                </li>
                <li>
                    <img class="socials"src="{% static 'pages/images/facebook.svg' %}" alt="">
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <img class="socials"src="{% static 'pages/images/linkedin.svg' %}" alt="">
                    <a href="#">LinkedIn</a></li>
                <li>
                    <img class="socials"src="{% static 'pages/images/instagram.svg' %}" alt="">
                    <a href="#">Instagram</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>
