*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins";
}

a{
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content:space-between;
    width: 95%;
    margin: auto;
    margin-top: 30px;
}

.signup-link{
    font-size: 14px;
    color: #3876D0;

}
.logo{
    width: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.back-link {
    display: inline-block;
    position: relative;
}
  
.back-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3876D0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.back-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.signup-link {
    display: inline-block;
    position: relative;
}
  
.signup-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3876D0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.signup-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#header{
    width: 60%;
    margin: auto;
    text-align: center;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 30px;
}

p{
    width: 50%;
    margin: auto;
    text-align: center;
    font-weight: 400px;
    margin-bottom: 50px;

}


.form-container{
    width: 33.5%;
    /* width: 366px; */
    margin: auto;
    align-items: center;
}

form{
    width: 100%;
}

input{
    width: 100%;
    /* padding: 5px; */
    padding: 20px;
    border: 1px solid #C5CDCB;
    border-radius: 5px;
    height: 54px;
}

label{
    font-weight: 500;
}

input[type="email"]{
    margin-bottom: 25px;
}

input[type="submit"]{
    background-color: #9BBBE7;
    border: none;
    border-radius: 8px;
    color: white;
}

input[type="submit"]:hover{
    background-color: #3876D0;
    cursor: pointer;
}
