*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex-direction-column{
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}
.justify-content-around{
    justify-content: space-around;
}

.justify-content-between{
    justify-content: space-between;
}
.justify-content-evenly{
    justify-content: space-evenly;
}
.justify-content-end{
    justify-content: flex-end;
}

.align-items-center{
    align-items: center;
}

.align-content-center{
    align-content: center;
}


.grid{
    display: grid;
}

.dashboard-wrapper{
    min-width:100vw ;
    min-height: 100vh;
    grid-template-columns: 4fr 15fr;
}
.grid-row-2{
    grid-template-rows: 2fr 1fr;
}
.grid-col-3{
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-col-4{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-col-5{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid-col-6{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.dashboard-wrapper > .sidebar > .wrapper > .logo{
    width: 70%;
    background-color: #fff;
}
.dashboard-wrapper{
    display: flex;

}

.dashboard-wrapper .sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99;
    display: none;
}

.dashboard-wrapper .sidebar .wrapper{
    width: 70%;
    height: 100%;
    margin: 10px auto;
    
}
@media(min-width:650px){
    .dashboard-wrapper .sidebar{
        display: block;
    }
    .dashboard-wrapper{
        display: grid;

    }
    .dashboard-wrapper > .sidebar > .wrapper > .logo{
            width: 100%;
            margin-top: 30px;
        }
    .dashboard-wrapper > .sidebar{
        width: inherit;
        position: relative;
        border-right: 1px solid #808080;
    }

    .dashboard-wrapper > .sidebar > .wrapper{
        
        width: 70%;
        height: 100%;
        margin: auto;
        display: block;
    }

    .grid-col-2{
        grid-template-columns: 20fr 1fr;
    }
}
.dashboard-wrapper > .sidebar > .wrapper > nav .item{
    
    font-size: 17px;
}
.dashboard-wrapper .sidebar .wrapper  nav .active, .dashboard-wrapper > .sidebar > .wrapper > nav .item:hover {
    border: 1px solid #808080 !important;
    border-radius: 8px;
    cursor: pointer;
    padding: 4px 10px;
}
.dashboard-wrapper > .sidebar > .wrapper > nav .item a{
    text-decoration: none;
    color: #373F41;
}

.dashboard-wrapper > .sidebar > .wrapper > nav .top{
    margin-top: 100px;
    row-gap: 15px;
}

.dashboard-wrapper > .sidebar > .wrapper > nav i{
    margin-right: 5px;
}
.bb{

    border-bottom: 1px solid #808080;
}
.dashboard-wrapper  .open{
    display: block;
}
.dashboard-wrapper .sidebar .close-btn i{
    cursor: pointer;
    text-align: right;
    font-weight: 600;
    font-size: 1.5rem;
}
.toggle-btn i{
    cursor: pointer;
    font-size: 1.3rem;
    color: #808080;
    
}
.dashboard-wrapper .right-container{
    width: 100%;
}

.dashboard-wrapper .right-container header{
    height: 70px;
    padding: 10px;
    position: relative;
}
.dashboard-wrapper .right-container header img{
    width: 40px;
    height: 40px;
    border: 2px solid #808080;
    border-radius: 20px;
    cursor: pointer;
}
.dashboard-wrapper .right-container header .dropdown{
    position: absolute;
    background-color: rgb(179, 46, 46);
    width: 100px;
    height: 100px;
    top: 70px;
    right: 10px;
    z-index: 5;

    
}
.dashboard-wrapper .right-container header .search-box{
    width: 210px;
    padding: 10px;
    background: rgba(37, 37, 41, 0.1);
    border-radius: 8px;
    display: none;
}
.dashboard-wrapper .right-container header .search-box i{
    color: #808080;
}
.dashboard-wrapper .right-container header .search-box input{
    border: none;
    padding: 5px;
    outline: rgba(37, 37, 41, 0.1);
    background: rgba(37, 37, 41, 0);
    height: 100%;
}
.dashboard-wrapper .right-container header .dropdown{
    display: none;
}

.dashboard-wrapper .right-container header .action-btn i{
    margin-right: 20px;
}

.dashboard-wrapper .right-container header .profile p{
   margin-left: 5px;
   cursor: pointer;
   color: #808080;
}
@media(min-width:650px)
{
    .dashboard-wrapper .right-container header{
        align-items: flex-end;
        justify-content: space-between;
    }
    .dashboard-wrapper .right-container header .dropdown{
        right: 20px;
        top: 70px;                     
    }
    .toggle-btn{
        display: none;
    }
    .dashboard-wrapper .right-container header .search-box{
        display: flex;
        margin-left: 200px;
    }
}
.dashboard-wrapper .right-container header .dropdown-show{
    display: block;
}
.dashboard-wrapper .right-container .hero{
    position:relative;
    height: 130px;
}
.dashboard-wrapper .hero .banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.dashboard-wrapper .right-container .hero .profile{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 20px;
    bottom: -30px;
    
    
}
.dashboard-wrapper .right-container .hero .write-up{
    position: absolute;
    width: 60%;
    right: 0;
    bottom: 0;
    font-weight: 400;
    color: rgba(37, 37, 41, 0.9);
    line-height: 42px;
}
@media(min-width:650px)
{
    .dashboard-wrapper .right-container .hero .profile
    {
        width: 200px;
        height: initial;
    }
    .dashboard-wrapper .right-container .hero .profile
    {
        bottom: -100px;
    }
    .dashboard-wrapper .right-container .hero .write-up{
        font-size: 1.3rem;
    }
    .dashboard-wrapper .sidebar .close-btn{
        display: none;
    }
}
.article-section{
    margin-top: 50px;
    padding: 10px;
    
    
}
.article-section .inner-nav{
    grid-template-columns: 1fr 1fr 1.3fr;
    column-gap: 10px;
}
.article-section .inner-nav > div > span:nth-child(2){
    color: #FF3B30;
    margin: 0 5px;
}
@media(min-width:650px)
{
    .article-section{
        margin-top: 130px;
    }
    .article-section .inner-nav{
        grid-template-columns: 1fr 1fr 7fr;
    }
}
.post-list {
    margin-top: 20px;
}
.post-list .item{
    color: #808080;
    padding: 5px;
    margin: 15px 0;
    text-decoration: none;
}
.post-list .item:hover{
    border: 1px solid #808080;
}
.post-list .item i{
    margin-right: 5px;
}
.article-section .show-more-btn{
    width: 140px;
    height: 35px;
    
    border: none;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    background: rgba(56, 118, 208, 0.1);
    cursor: pointer;

}
.show-more-btn a{
    width: 100%;
    height: 100%;
    padding: 10px;
    color: rgba(56, 118, 208, 0.9);
    text-decoration: none;
}
.article-section .show-more-btn i{
    margin-left: 10px;
}
.article-section .show-more-btn:hover{
    opacity: 0.7;
}
@media(min-width:650px)
{
    .post-list .item i{
        margin-right: 50px;
    }
    .article-section .show-more-btn{
        width: 160px;
        margin-top: 40px;
    }
}
.chart-section{
    color: #808080;
    padding: 10px;
    

}
.chart-section .header{
    grid-template-columns: 1fr 1fr;
}
.chart-section .header .date select{
    padding:5px;
    color: #808080;
    margin-right: 20px;
    border: 0.2px solid #808080;
}
.analytics{
    grid-template-columns: 1fr 3fr;
}
.analytics div > span{
    width: 100px;
    margin: 10px 0;
}
.analytics div > span >p:nth-of-type(2){
    font-weight: 600;
    font-size: 36px;
    margin-top: 5px;
}
#myChart{
    width: 90% !important;
    height: 150px;
    
}