asgiref==3.5.2
autopep8==1.6.0
awsebcli==3.20.3
botocore==1.23.54
cement==2.8.2
certifi==2022.5.18.1
charset-normalizer==2.0.12
colorama==0.4.3
distlib==0.3.4
Django==4.0.4
django-extensions==3.2.0
filelock==3.7.1
future==0.16.0
idna==3.3
jmespath==0.10.0
pathspec==0.9.0
platformdirs==2.5.2
pycodestyle==2.8.0
pypiwin32==223
python-dateutil==2.8.2
python-decouple==3.6
pywin32==304
PyYAML==5.4.1
requests==2.26.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.2
termcolor==1.1.0
toml==0.10.2
tzdata==2022.1
urllib3==1.26.9
virtualenv==20.14.1
virtualenvwrapper-win==1.2.7
wcwidth==0.1.9
