@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    max-width: 100%;
    overflow-x: hidden;
}
h1{
    font-size: 56px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 32px;
}
h5{
    font-size: 24px;
}
h6{
    font-size: 20px;
}
body{
    font-family: 'Poppins', sans-serif;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;
    font-family: "Poppins", sans-serif;
    background: #ffffff;
}
.sign-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 28em;
}
.logo {
    cursor: pointer;
    display: inline-block;
    width: 140px;
}
nav a {
    text-decoration: none;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}
nav ul li{
    padding: 0 10px;
    display: flex;
    flex-direction: row;
}
nav ul li:first-child a{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #2C453F;

}
nav ul li:nth-child(2) a{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    align-items: center;
    color: #2C453F;

}
nav ul li:nth-child(3) a{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    align-items: center;
    color: #2C453F;
}
nav ul li:nth-child(4) a {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    align-items: center;
    color: #2C453F;
}
.down {
    display: inline-block;
    color: #2C453F;
    align-items: center;
    width: 18px;
    cursor: pointer;
}
.sign-up h1:first-child{
    margin: 0px 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    text-decoration: underline;
    text-underline-position: under;

    display: flex;
    align-items: center;

    color: #3876D0;
}
.sign-up h1:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 28px;
    gap: 10px;
    background: #3876D0;
    border-radius: 4px;

}
.sign-up h1:nth-child(2) a{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    padding: 0px 2px;

    color: #FFFFFF;
    text-decoration: none;
}
.main1{
    margin-top: 10em;
    text-align: center;
}
.main1 h3{
    width: 75%;
    margin: 1em auto 0 auto;
}
.main2{
    display: flex;
    background-color: #3876D0;
    margin-top: 2em;
}
.main2-left{
    width: 43%;
    margin-left: 4em;
}
.main2-left h4{
    color: white;
    margin-left: 6em;
    margin-top: 30px;
}
.main2-left p{
    color: white;
    font-size: 18px;
    margin-top: 3em;
}
.main2-right{
    margin-left: auto;
}
.main2-right .mobile-img{
    display: none;
}
.main2-right img{
    width: 23em;
}
.main3{
    position: relative;
}
.main3 h4{
    text-align: center;
    margin-top: 1em;
}
.main3 .directors{
    display: flex;
    width: 90%;
    margin-top: 2em;
    margin-left: 5%;
    margin-right: 5%;
}
.main3 .directors div{
    margin-right: 5em;
    display: flex;
    flex-direction: column;
}
.main3 .directors div h6{
    margin: auto;
    margin-top: 10px;
}
.main3 .directors div p{
    margin: auto;
}
.main3 .director-img{
    width: 15em;
}
.main3 .right-arrow{
    height: 3em;
    position: absolute;
    top: 10em;
    right: 1em;
}
.main4{
    background-color: #3876D0;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
.main4-left{
    display: flex;
    width: 50%;
    margin-left: 10%;
    padding-top: 7em;
    padding-bottom: 7em;
}
.main4-left .icon{
    border: 3px solid white;
    color: white;
    font-size: 56px;
    margin: auto 0 auto 0;
    padding: 5px 25px 5px 25px;
    border-radius: 50%;
}
.main4-left .logo-text{
    color: white;
    margin: auto 0 auto 15px;
}
.main4-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 5%;
    padding-top: 7em;
    padding-bottom: 7em;
}
.main4-right h3{
    color: white;
}
.main4-right button{
    width: 35%;
    font-size: 16px;
    background-color: #3876D0;
    color: white;
    border: 0.2px solid #F2F2F2;
    padding: 15px 0 15px 0;
}
footer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4% 3%;
    font-family: "Poppins", sans-serif;
    background: #3876D0;
    color: #F2F2F2;
}
footer a{
    display: block;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #F2F2F2;
}
.footer-container1 .logo-white{
    display: inline-block;
    width: 162px;
}
.footer-container1 h1{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F2F2F2;
}
footer h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 15px;
}
.footer-container1 h1 img{
    cursor: pointer;
    display: inline-block;
    padding-left: 3px;
}
.footer-container2{
    width: 252px;
    height: 222px;
}
.footer-container3{
    width: 222px;
    height: 366px;
}
.footer-container4{
    width: 212px;
    height: 320px;
}
.footer-container5{
    width: 148px;
    height: 252px;
}
.socials {
    width: 16px;
    padding-right: 3px;
}
@media (max-width:600px) {
    header{
        width: 100%;
    }
    .sign-up{
        display: none;
    }
    header nav{
        display: none;
    }
    .main1 h3{
        width: 90%;
    }
    .main2{
        flex-direction: column;
    }
    .main2-left{
        width: 90%;
        margin: auto;
    }
    .main2-right{
        width: 90%;
        margin: auto;
    }
    .main2-right .desktop-img{
        display: none;
    }
    .main2-right .mobile-img{
        display: block;
        margin: 2em auto 2em auto;
    }
    .main3{
        max-width: 100%;

    }
    .main3 .directors{
        width: 95%;
        margin: auto;
        display: grid;
        grid-template-areas: 
        'a b'
        'c d'
        ;
    }
    .main3 .right-arrow{
        display: none;
    }
    .main3 .directors .D1{
        grid-area: a;
    }
    .main3 .directors .D2{
        grid-area: b;
    }
    .main3 .directors .D3{
        grid-area: c;
    }
    .main3 .directors .D4{
        grid-area: d;
    }
    .main4{
        flex-direction: column;
    }
    .main4-left{
        width: 90%;
        margin: auto;
        padding-top: 4em;
        padding-bottom: 2em;
    }
    .main4-left .icon{
        margin-left: 15%;
    }
    .main4-right{
        width: 90%;
        margin: auto;
        text-align: center;
        padding-top: 0em;
        padding-bottom: 4em;
    }
    .main4-right button{
        margin: auto;
    }
    footer{
        flex-direction: column;
    }
    .footer-container2{
        margin-top: 3em;
        margin-bottom: 0;
    }
    .footer-container3{
        margin-top: 3em;
        margin-bottom: 0;
    }
    .footer-container4{
        margin-top: 3em;
        margin-bottom: 0;
    }
    .footer-container5{
        margin-top: 3em;
        margin-bottom: 0;
    }
}