@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;
    font-family: "Poppins", sans-serif;
    background: #ffffff;
}
.sign-up {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    cursor: pointer;
    display: inline-block;
    width: 140px;
}
nav a {
    text-decoration: none;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}
nav ul li{
    padding: 0 10px;
    display: flex;
    flex-direction: row;
}
nav ul li:first-child a{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #2C453F;

}
nav ul li:nth-child(2) a{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    align-items: center;
    color: #2C453F;

}
nav ul li:nth-child(3) a{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    align-items: center;
    color: #2C453F;
}
nav ul li:nth-child(4) a {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    align-items: center;
    color: #2C453F;
}
.down {
    display: inline-block;
    color: #2C453F;
    align-items: center;
    width: 18px;
    cursor: pointer;
}
.sign-up h1:first-child a{
    margin: 0px 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    text-decoration: none;

    display: flex;
    align-items: center;
    color: #3876D0;
}
.sign-up h1:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 28px;
    gap: 10px;
    background: #3876D0;
    border-radius: 4px;

}
.sign-up h1:nth-child(2) a{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    padding: 0px 2px;

    color: #FFFFFF;
    text-decoration: none;
}
footer {
    height: 380px;
    display: flex;
    justify-content: space-between;
    padding: 4% 3%;
    font-family: "Poppins", sans-serif;
    background: #3876D0;
    color: #F2F2F2;
}
footer a{
    display: block;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #F2F2F2;
}
.footer-container1{
    width: 252px;
    height: 222px;
}
.footer-container1 .logo-white{
    display: inline-block;
    width: 158px;
}
.footer-container1 h1{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F2F2F2;
}
footer h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 15px;
}
.footer-container1 h1 img{
    cursor: pointer;
    display: inline-block;
    padding-left: 3px;
}
.footer-container2{
    width: 252px;
    height: 222px;
}
.footer-container3{
    width: 222px;
    height: 366px;
}
.footer-container4{
    width: 212px;
    height: 320px;
}
.footer-container5{
    width: 148px;
    height: 252px;
}
.socials {
    width: 16px;
    padding-right: 3px;
}
