{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css" type= "text/css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="nav">
            <a href="{% url 'index' %}" class="back-link"><img src="/static/images/back_icon.svg" alt="back_icon"></a>
            <a href="{% url 'accounts:signup' %}" class="signup-link">Create Account</a>
        </div>
    </header>
    <main>
        <div class="logo">
            <img src="/static/images/logo_1.svg" alt="portfolia logo">
        </div>

        <h3 id="header">Log into Portfolia</h3>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="{% url 'accounts:signup' %}" class="close">x</a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        
        <div class="form-container">
            <form action="#" method="POST">
                {% csrf_token %}
                <label for="email" >Email</label><br>
                <input type="email" placeholder="name@email.com" name ="email" id="email" required><br>

                <label for="password" >First Name</label><br>
                <input type="password" placeholder="Password" name ="password" id="password" required><br>
            
                <input type="submit" value="Log In">
            </form>
            
            <div class="vertical-line1"></div>
            <span>Or</span>
            <!-- <div class="vertical-line2"></div> -->

            <div class="btn-container">
                <div class="gbtn-container">
                    <button class="google-btn" ><img src="/static/images/google_icon.svg" alt="google-icon"><a href="{% provider_login_url 'google' method = 'oauth2' %}">Continue with Google</a></button>
                </div>
            
                <div class="fbtn-container">
                    <button class="facebook-btn"><img src="/static/images/facebook_icon.svg" alt="facebook-icon"><a href="{% provider_login_url 'facebook' method = 'js_sdk' %}">Continue with Facebook</a></button>
                </div>
            </div>
            
    
        </div>

        <p class="cant-login"><a href="{% url 'accounts:reset_password' %}" >Can't Login?</a></p>
        <p class="captcha">Secure Login with reCAPTCHA subject to <a href="#">Google Terms</a> & <a href="#">Privacy</a></p>



    </main>
</body>
</html>