{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/css/password_reset.css" type= "text/css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="nav">
            <a href="{% url 'index' %}" class="back-link"><img src="/static/images/back_icon.svg" alt="back_icon"></a>
            <a href="{% url 'accounts:login' %}" class="signup-link">Log In</a>
        </div>
    </header>
    <main>
        <h3 id="header">Forgot Password</h3>
        <p>Enter your accounts's email and we will send you an email to reset your password</p>
        <div class="form-container">
            <form action="" method="POST">
                {% csrf_token %} 
                {% comment %} <label for="email" >Email</label><br>

                <input type="email" placeholder="name@email.com" name ="email" id="email" required><br> {% endcomment %}
                {{form}}

                <input type="submit" value="Send mail"> 

            </form>
        </div>
    </main>
</body>
</html>       
    