{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/css/password_reset_form.css" type= "text/css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
    <main>
        <h3 id="header">Enter new password</h3>
        <p>Please enter your new password twice so we can verify you typed it in correctly</p>
        <div class="form-container">
            <form action="" method="POST">
                {% csrf_token %} 
                {% comment %} <label for="Password" >Password</label><br>

                <input type="password"  name ="password" id="password" required><br>

                <label for="Password" >Confirm Password</label><br>

                <input type="password"  name ="password" id="password" required><br> {% endcomment %}
                {{form}}

                <input type="submit" value="Update password">

            </form>
        </div>
    </main>
</body>