@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
#main-content{
    margin-top: 1%;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins';
    font-style: normal;
}
#first-content{
    background-color: #3876D0;
    width: 20%;
    margin-right: 50px;
    padding: 20px 0 0 40px;
}
#profile{
    color: white;
    margin-bottom: 20px;
}
#first-content li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    padding: 4px 20px;  
}
#first-content li img{
    width: 15px;
    margin-right: 10px;
}
#first-content a{
    color: white;
}
#second-content{
    width: 80%;
}
#first-part{
    background-color: rgba(56, 118, 208, 0.2);
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 40px;
    margin-bottom: 20px;
}
#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
#nav{
    margin-right: 80px;
}
#nav li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-right: 20px;
    font-size: 20px;
    line-height: 18px;
}
#page-content1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px;
}
#page-content1 img{
    width: 600px;
    margin-right: 20px;
}
#side-content h1{
    font-size: 30px;
    margin-bottom: 20px;
}
#side-content p:nth-child(2){
    font-size: 25px;
    margin-bottom: 20px;
    color: #252529;
    font-weight: 500;
}
#side-content p:nth-child(3){
    font-size: 20px;
    margin-bottom: 20px;
    color: #252529;
    font-weight: 500;
}
#side-content a{
    background-color: #3876D0;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}
#page-content2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
#page-content2 img{
    width: 15px;
}
#side-content1{
    border: 2px solid black;
    padding: 10px;
    width: 70%;
    margin-right: 30px;
}
#side-content1 img{
    margin-right: 20px;
}
#side-content1 a {
    font-size: 20px;
}
#side-content1 ul{
    margin: 30px 0;
}
#side-content1 li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
#side-content1 p:first-child{
    color: #3876D0;
    font-size: 20px;
}
#side-content1 p:nth-child(2){
    background-color: #3876D0;
    border-radius: 4px;
    padding: 10px 5px;
    font-size: 20px;
    color: white;
}
#side-content1 ul li:nth-child(5) p{
    background-color: black;
    width: 23px;
    border-radius: 50%;
    padding: 0 4px;
    color: white;
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
}
#side-content2{
    width: 30%;
    font-size: 20px;
    height: 310px;
}
#side-content2 p{
    margin-bottom: 30px;
}
#side-content2 li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
#side-content2 img{
    margin-right: 20px;
}

footer {
    /* height: 380px; */
    display: flex;
    justify-content: space-between;
    padding: 4% 3%;
    font-family: "Poppins", sans-serif;
    background: #3876D0;
    color: #F2F2F2;
}
footer a{
    display: block;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #F2F2F2;
}
#footer-container{
    display: flex;
    justify-content: space-between;
}
#footer-container div{
    margin: 0px 30px;
}
.footer-container1{
    width: 252px;
    height: 222px;
}
.footer-container1 .logo-white{
    display: inline-block;
    width: 158px;
}
.footer-container1 h1{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F2F2F2;
}
footer h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 15px;
}
.footer-container1 h1 img{
    cursor: pointer;
    display: inline-block;
    padding-left: 3px;
}
.footer-container5{
    width: 150px;
    margin-left: 30px;
}
.footer-container5 ul{
    list-style: none;
}
.footer-container5 a{
    display: inline;
}
.socials {
    width: 16px;
    padding-right: 3px;
}