<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css" type= "text/css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="nav">
            <a href="index.html" class="back-link"><img src="images/back_icon.svg" alt="back_icon"></a>
            <a href="signup.html" class="signup-link">Create Account</a>
        </div>
    </header>
    <main>
        <div class="logo">
            <img src="images/logo.svg" alt="portfolia logo">
        </div>

        <h3 id="header">Log into Portfolia</h3>

        <div class="form-container">
            <form action="#" method="post">
                <label for="email" >Email</label><br>
                <input type="email" placeholder="name@email.com" name ="email" id="email" required><br>

                <label for="password" >First Name</label><br>
                <input type="password" placeholder="Password" name ="password" id="password" required><br>
            
                <input type="submit" value="Log In">
            </form>
            
            <div class="vertical-line1"></div>
            <span>Or</span>
            <!-- <div class="vertical-line2"></div> -->

            <div class="btn-container">
                <div class="gbtn-container">
                    <button class="google-btn" href="#"><img src="images/google_icon.svg" alt="google-icon">Continue with Google</button>
                </div>
            
                <div class="fbtn-container">
                    <button class="facebook-btn" href="#"><img src="images/facebook_icon.svg" alt="facebook-icon">Continue with Facebook</button>
                </div>
            </div>
            
    
        </div>

        <p class="cant-login">Can't Login?</p>
        <p class="captcha">Secure Login with reCAPTCHA subject to <a>Google Terms</a> & <a>Privacy</a></p>



    </main>
</body>
</html>