{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolia | Template Gallery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'template_gallery/css/template.css' %}">
</head>
<body>
    <header class="template-header"></header>
    <section class="jumbotron-section">
        <h1>Templates Gallery</h1>
        <p class="write-up">
            Give your business a unique look and feel. Choose from over a thousand available templates on Portfolia and customize them to suite your business and personal needs. 
            Templates are always are good starting ground!
        </p>
    </section>

    <section class="flex justify-content-center align-items-center search-box">
        <div class="flex align-items-center input-box">
            <i class="fa fa-search"></i>
            <input type="text" >
            <i class="fa fa-sliders"> <span>Filter</span></i>
        </div>
        <div>
            <label for="myfile">Upload Template</label>
            <input type="file" id="myfile" name="myfile" style="display: none;">
        </div>
    </section>

    <div class="flex justify-content-between tem-list-head">
        <h3>All Templates</h3>
        <div>
            <a href="#" class="active">Free</a>
            <a href="#">Paid</a>
        </div>
    </div>
    <section class="grid grid-col-2  template-list">

        <a href="{% url 'accounts:signup' %}" class="template-card">
            <img src="{% static 'template_gallery/images/template-gallery/Brown Minimalist Furniture Photo Collage 1.png' %}" alt="template">
            <div class="meta-data">
                <div class="flex justify-content-between">
                    <span>Gobble dash</span>
                    <span>Free</span>
                </div>
                <div class="flex align-items-center">
                    <span>by Naval Rav </span>
                </div>
                <div class="flex justify-content-between align-items-center">
                    <span>Apply</span>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="{% url 'accounts:signup' %}" class="template-card">
            <img src="{% static 'template_gallery/images/template-gallery/Thumbnail-11.png' %}" alt="template">
            <div class="meta-data">
                <div class="flex justify-content-between">
                    <span>Charcoal</span>
                    <span>Free</span>
                </div>
                <div class="flex align-items-center">
                    <span>by Naval Rav </span>
                </div>
                <div class="flex justify-content-between align-items-center">
                    <span>Apply</span>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="{% url 'accounts:signup' %}" class="template-card">
            <img src="{% static 'template_gallery/images/template-gallery/Futurist.png' %}" alt="template">
            <div class="meta-data">
                <div class="flex justify-content-between">
                    <span>Futurist</span>
                    <span>Free</span>
                </div>
                <div class="flex align-items-center">
                    <span>by Naval Rav </span>
                </div>
                <div class="flex justify-content-between align-items-center">
                    <span>Apply</span>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </a>

        <a href="{% url 'accounts:signup' %}" class="template-card">
            <img src="{% static 'template_gallery/images/template-gallery/Rectangle 6.png' %}" alt="template">
            <div class="meta-data">
                <div class="flex justify-content-between">
                    <span>Augment</span>
                    <span>Free</span>
                </div>
                <div class="flex align-items-center">
                    <span>by Naval Rav </span>
                </div>
                <div class="flex justify-content-between align-items-center">
                    <span>Apply</span>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="{% url 'accounts:signup' %}" class="template-card">
            <img src="{% static 'template_gallery/images/template-gallery/McArthur-2.png' %}" alt="template">
            <div class="meta-data">
                <div class="flex justify-content-between">
                    <span>Carousel</span>
                    <span>Free</span>
                </div>
                <div class="flex align-items-center">
                    <span>by Naval Rav </span>
                </div>
                <div class="flex justify-content-between align-items-center">
                    <span>Apply</span>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="{% url 'accounts:signup' %}" class="template-card">
            <img src="{% static 'template_gallery/images/template-gallery/McArthur-1.png' %}" alt="template">
            <div class="meta-data">
                <div class="flex justify-content-between">
                    <span>McArthur</span>
                    <span>Free</span>
                </div>
                <div class="flex align-items-center">
                    <span>by Naval Rav </span>
                </div>
                <div class="flex justify-content-between align-items-center">
                    <span>Apply</span>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </a>

        <a href="{% url 'accounts:signup' %}" class="template-card">
            <img src="{% static 'template_gallery/images/template-gallery/McArthur-3.png' %}" alt="template">
            <div class="meta-data">
                <div class="flex justify-content-between">
                    <span>Evergreen</span>
                    <span>Free</span>
                </div>
                <div class="flex align-items-center">
                    <span>by Naval Rav </span>
                </div>
                <div class="flex justify-content-between align-items-center">
                    <span>Apply</span>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="{% url 'template_gallery:junemung' %}" class="template-card">
            <img src="{% static 'template_gallery/images/template-gallery/Junemung Frame 1.png' %}" alt="template">
            <div class="meta-data">
                <div class="flex justify-content-between">
                    <span>Junemung</span>
                    <span>Free</span>
                </div>
                <div class="flex align-items-center">
                    <span>by Naval Rav </span>
                </div>
                <div class="flex justify-content-between align-items-center">
                    <span>Apply</span>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="{% url 'accounts:signup' %}" class="template-card">
            <img src="{% static 'template_gallery/images/template-gallery/Artista.png' %}" alt="template">
            <div class="meta-data">
                <div class="flex justify-content-between">
                    <span>Artista</span>
                    <span>Free</span>
                </div>
                <div class="flex align-items-center">
                    <span>by Naval Rav </span>
                </div>
                <div class="flex justify-content-between align-items-center">
                    <span>Apply</span>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </a>

        <a href="{% url 'accounts:signup' %}" class="template-card">
            <img src="{% static 'template_gallery/images/template-gallery/McArthur.png' %}" alt="template">
            <div class="meta-data">
                <div class="flex justify-content-between">
                    <span>Gamut Asteria</span>
                    <span>Free</span>
                </div>
                <div class="flex align-items-center">
                    <span>by Naval Rav </span>
                </div>
                <div class="flex justify-content-between align-items-center">
                    <span>Apply</span>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="{% url 'template_gallery:london_broth' %}" class="template-card">
            <img src="{% static 'template_gallery/images/template-gallery/London broth.png' %}" alt="template">
            <div class="meta-data">
                <div class="flex justify-content-between">
                    <span>Landon Broth</span>
                    <span>Free</span>
                </div>
                <div class="flex align-items-center">
                    <span>by Naval Rav </span>
                </div>
                <div class="flex justify-content-between align-items-center">
                    <span>Apply</span>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="{% url 'accounts:signup' %}" class="template-card">
            <img src="{% static 'template_gallery/images/template-gallery/Mysen Image 1.png' %}" alt="template">
            <div class="meta-data">
                <div class="flex justify-content-between">
                    <span>Mysen</span>
                    <span>Free</span>
                </div>
                <div class="flex align-items-center">
                    <span>by Naval Rav </span>
                </div>
                <div class="flex justify-content-between align-items-center">
                    <span>Apply</span>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </a>
    </section>

    <div class="flex justify-content-between tem-list-head">
        <div>
            <a  href="#" class="active">Trending</a>
        </div>
        <div>
            <a href="#">View all</a>
        </div>
    </div>
    <section class="grid grid-col-2  template-list">
        <a href="#" class="template-card">
            <img src="{% static 'template_gallery/images/template-gallery/McArthur-5.png' %}" alt="template">
            <div class="meta-data">
                <div class="flex justify-content-between">
                    <span>Drapery</span>
                    <span>Free</span>
                </div>
                <div class="flex align-items-center">
                    <span>by Naval Rav </span>
                </div>
                <div class="flex justify-content-between align-items-center">
                    <span>Apply</span>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="#" class="template-card">
            <img src="{% static 'template_gallery/images/template-gallery/Thumbnail-1.png' %}" alt="template">
            <div class="meta-data">
                <div class="flex justify-content-between">
                    <span>MasterTouch</span>
                    <span>Free</span>
                </div>
                <div class="flex align-items-center">
                    <span>by Naval Rav </span>
                </div>
                <div class="flex justify-content-between align-items-center">
                    <span>Apply</span>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="#" class="template-card">
            <img src="{% static 'template_gallery/images/template-gallery/McArthur-4.png' %}" alt="template">
            <div class="meta-data">
                <div class="flex justify-content-between">
                    <span>Ave Cesaria</span>
                    <span>Free</span>
                </div>
                <div class="flex align-items-center">
                    <span>by Naval Rav </span>
                </div>
                <div class="flex justify-content-between align-items-center">
                    <span>Apply</span>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </a>
    </section>

</body>
</html>