{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolia | Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'dashboard/css/main.css' %}">
</head>
<body>

    <!-- dashboard-container -->
    <div class="dashboard-container">
        <!-- sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="flex justify-content-end close-btn"><i class="fa fa-times" onclick="handleMenu()"></i></div>
            <img src="{% static 'dashboard/images/logo.svg' %}" alt="logo" class="logo">

            <!-- sidebar navlist ends here -->
            <nav class="grid grid-row-2">

                <div class="flex flex-direction-column ">
                    <span class="flex align-items-center item active">
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span>Home</span>
                        </a>
                    </span>
                    <span class="flex align-items-center  item">
                        <a href="#">
                            <i class="fa fa-leanpub"></i>
                            <span>Pages</span>
                        </a>
                    </span>
                    <span class="flex align-items-center item item bb">
                        <a href="#">
                            <i class="fa fa-folder-o "></i>
                            <span>Template</span>
                        </a>
                    </span>
                    <span class="flex align-items-center item item ">
                        <a href="#">
                            <i class="fa fa-database "></i>
                            <span>Site Style</span>
                        </a>
                    </span>
                    <span class="flex align-items-center  item item bb">
                        <a href="#">
                            <i class="fa fa-user-o"></i>
                            <span>Profile</span>
                        </a>
                    </span>
                    <span class="flex align-items-center  item item ">
                        <a href="#">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                            <span>Add New Website</span>
                        </a>
                    </span>
                </div>
                <div class="flex flex-direction-column ">
                    <span class="flex align-items-center  item item ">
                        <a href="#">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                            <span>Settings</span>
                        </a>
                    </span>
                    <span class="flex align-items-center  item item ">
                        <a href="{% url 'logout' %}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            <span>Logout</span>
                        </a>
                    </span>
                </div>
            </nav>
            <!-- sidebar navlist ends here -->
        </div>
        <!-- sidebar ends here -->

        <!-- right-section -->
        <div class="right-section">
            <!-- header -->

            <header class="flex justify-content-end align-items-center">
                <div class="toggle-btn" >
                    <i class="fa fa-bars" onclick="handleMenu()"></i>
                </div>
                <img src="{% static 'dashboard/images/Ellipse 84.png' %}" alt="profile image">
                <div class="flex  align-items-center action-btn">
                    <span class="bell-icon">
                        <i class="fa fa-bell-o"></i>
                    </span>
                    <span class="flex align-items-center profile" >
                        <p>My Account <i class="fa fa-chevron-down"></i> </p>
                    </span>
                </div>
            </header>

            <!-- header ends here -->
            <!-- hero-section -->
            <div class="hero-section">
                <p class="bg-img"></p>
                <div>
                    <h1>{{user.first_name}}</h1>
                    <p>A few items for your <span>approval</span> </p>
                </div>
                <img src="{% static 'dashboard/images/Ellipse 84.png' %}" alt="">
            </div>
            <!-- hero-section ends here -->

            <!-- article section -->

            <div class="article-section">
                <div class="inner-nav grid grid-col-2">
                    <div class="bb">
                        <span>Articles </span>
                        <span>12</span>
                    </div>
                    <div class="bb">
                        <span>Comments </span>
                        <span>24</span>
                        <span class="hr"></span>
                    </div>
                </div>

                <div class="post-list">
                    <a href="#" class="grid grid-col-5 item">
                        <span><i class="fa fa-square-o"></i> S/N</span>
                        <span>Title</span>
                        <span>Edition</span>
                        <span>Author</span>
                        <span>For Review</span>
                        
                    </a>
                    <a href="#" class="grid grid-col-5 item">
                        <span><i class="fa fa-square-o"></i> 01</span>
                        <span>How to upload media</span>
                        <span>August 2022</span>
                        <span>Mide Oluwashina</span>
                        <span>For Review</span>
                        
                    </a>
                    <a href="#" class="grid grid-col-5 item">
                        <span><i class="fa fa-square-o"></i> 02</span>
                        <span>How to upload media</span>
                        <span>August 2022</span>
                        <span>Mide Oluwashina</span>
                        <span>For Review</span>
                        
                    </a>
                </div>

                <div class="flex align-items-center justify-content-center show-more-btn">
                   <a href="#" class="flex justify-content-center align-items-center">
                        Show more
                        <i class="fa fa-arrow-down"></i>
                   </a> 
                </div>
            </div>
            <!-- article section ends here -->
            <!-- chart-section -->

            <div class="chart-section">
                <div class="grid  grid-col-2 align-items-center header">
                    <div class="">Total Visits</div>
                    <div class="flex justify-content-evenly date">
                        <select name="chart-range" id="">
                            <option value="">13 Jul - 24 Jul, 2022</option>
                            <option value="">13 Jul - 24 Jul, 2022</option>
                            <option value="">13 Jul - 24 Jul, 2022</option>
                        </select>
                    </div>
                </div>
                <div class="analytics">
                    <div class="flex flex-direction-column align-items-center justify-content-center">
                        <span class="">
                            <p>Total visit within a month</p>
                            <p>7000</p>
                        </span>

                        <span>
                            <p>Total visits today</p>
                            <p>500</p>
                        </span>
                    </div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <!-- chart-section ends here -->
        </div>
        <!-- right-section ends here -->
    </div>
    <!-- dashboard-container ends here -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'dashboard/js/chart-config.js' %}"></script>
    <script src="{% static 'dashboard/js/main.js' %}"></script>
</body>
</html>