*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.nav{
    display: flex;
    justify-content:space-between;
    width: 95%;
    margin: auto;
    margin-top: 30px;
}

.back-link {
    display: inline-block;
    position: relative;
}
  
.back-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3876D0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.back-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

p{
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;

}